header {
    background: #BBBBBB;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
    /*A posição relativa da caixa surge porque ela precisa "ser levantada" pra que as propriedades apareçam. Isso acontece porque o nav tá em posição absoluta. E nesse caso, o nav precisa ser absoluto em relação à caixa  */
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    /*colocamos apenas as mudanças de estilo nas tags de âncora, nos links que estão sendo exibidos. Não é ideal colocar as estilizações no item de lista.*/
}

nav a:hover {
    /*Hover é uma pseudoclasse que é ativada quando o usuário passa o mouse por cima do elemento. aqui é os links do menu de navegação */
    color: #C78C19;
    text-decoration: underline;
}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    /*o width aqui é pra ocupar 1/3 da pagina, mas o navegador nao saberia ler fração, então colocamos em forma percentual*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*Deixa o width de 30% definitivo, fica com essa lardura e o padding fica dentro disso*/
    border: 2px solid #000000;
    /*Border fica posicionada entre padding e margin*/
    border-radius: 10px;
}

.products li:hover {
    border-color: #C78C19;
}

.products li:hover h2 {
    /*consegue alterar o tamanho dos elementos que tá no h2. Caso não coloque essa pseudo-classe, não consegue alterar os elementos pois os valores já foram especificados em outras classes*/
    font-size: 34px;
}

.products li:active {
    /*altera o elemento quando o usuário pressiona o mouse*/
    border-color: #088C19;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.price-product {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    /*o CSS replica a imagem. Ela é pequena, então fica sempre repetindo. É melhor fazer assim porque senão gasta internet e demora para carregar a pagina se a imagem for grande demais */
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.default-input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}